.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.input-container ion-item {
  flex: 1;
}

/* terra-spatial-picker::part(map) {
  width: 100%;
  height: 100%;
} */

.map-container terra-spatial-picker {
  width: 100%;
  max-width: 100%;
  /* padding: 5px; */
}

/* WORKS */
terra-spatial-picker::part(map) {
  border: none;
  aspect-ratio: auto;
  height: 70vh;

  padding: 0;
  /* border: 10px solid red; */

  /* hide terra-map padding */
  margin: -16px;
}

/* EXPORT PARTS: map, leaflet-bbox, leaflet-point, leaflet-edit, leaflet-remove */
terra-spatial-picker::part(leaflet-remove) {
  display: none;
}
terra-spatial-picker::part(leaflet-edit) {
  display: none;
}
