.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.input-container ion-item {
  flex: 1;
}

/* terra-spatial-picker::part(map) {
  width: 100%;
  height: 100%;
} */

.map-container terra-spatial-picker {
  width: 100%;
  max-width: 800px;
  padding: 5px;
}

/* WORKS */
terra-spatial-picker::part(map) {
  border: none;
  aspect-ratio: auto;
  height: 70vh;
  /* border: 10px solid red; */
}
